/* .App {
  text-align: center;
} */

/*
.App{
  display: flex;
  flex-direction: row;
} */
/*
#sidebar {
  float: left;
  width: 30%;
  background-color: orange;
  height: 100%;
  margin: 0;
  padding-bottom: 600px;
  overflow-x: hidden;
}

 #main {
  width: 70%;
  margin: 0 auto;
} */



/* body {
  background: yellow;
  height: 100%;
} */

/* .body{
  height: 100%;
}

html, body, #root, #message-container, #pannel,#user-pannel {
  font-family: "Raleway";
   height: calc(100vh);
}

li {
  list-style-type:none;
}

#user-pannel{
	background-color: #9E9E9E;
}

.room-numbers{
	background-color: #9E9E9E;
}

#message-container{
	background-color: #EEEEEE;
	width: 85%;
}

#pannel{
  display: flex;
  flex-direction: column;
}

.App{
  display: flex;
  flex-direction: row;
}

#message-container{
  display: flex;
} */


/*
header {
  margin: 0;
} */




/*
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
} */
/*
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
} */
/*
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */
/*
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */
